.card__image {
  margin: 0; }

.card__title {
  font-size: 1.25rem; }

.card__footer form {
  display: flex; }

.card__footer .editor-rich-text__tinymce[data-is-placeholder-visible=true] {
  width: 7.2em; }

.remove-image {
  position: absolute;
  right: 1em;
  top: 1em; }
