.card {
  &__image {
    margin: 0;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__footer {
    form {
      display: flex;
    }

    .editor-rich-text__tinymce[data-is-placeholder-visible=true] {
      width: 7.2em;
    }
  }
}

.remove-image {
  position: absolute;
  right: 1em;
  top: 1em;
}
